body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 16px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 48px;
}

.top-container, .footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.top-container, .information-container, .quote-container, .call-to-action, .footer {
    padding: 0 420px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 100px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
}

.title-content {
    width: 700px;
    display: flex;
    flex-direction: column;
}

.title-content h2 {
    margin-bottom: 0;
}

.title-content p {
    margin: 0;
}

.title-content .sign-up {
    background-color: #3882F6;
    border-radius: 10px;
    border-style: none;
    color: #F9FAF8;
    align-self: flex-start;
    margin-top: 10px;
    padding: 10px 35px;
}

.fuji-img img {
    width: 700px;
}

.quote-container {
    background-color: #E5E7EB;
    color:#1F2937;
    font-size: 36px;
    font-style: italic;
}
