body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 16px;
}

.top-container, .footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}

.quote-container {
    background-color: #E5E7EB;
    color:#1F2937;
    font-size: 36px;
    font-style: italic;
}
