body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 16px;
}

.top-container, .footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.top-container, .information-container, .quote-container, .call-to-action, .footer {
    padding: 0 450px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.hero-content {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
}

img {
    width: 700px;
}

.quote-container {
    background-color: #E5E7EB;
    color:#1F2937;
    font-size: 36px;
    font-style: italic;
}
